.dataCell {
  border-top-style:none;
  border-right-style:solid;
  border-bottom-style:none;
  border-left-style:none;
  border-width:1px; 
  border-color: #000000; 
  padding: 5px;    
  margin: 5px;
}

.dataTable {
  border-top-style:solid;
  border-right-style:node;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width:1px; 
  border-color: #000000; 
}      

.infoTable {
  border-style:none;
}      

.infoCellParam {
  padding: 2px;    
  margin: 2px;
  color:#333377;
  font-size: 18px;
}     


.infoCellValue {
  padding: 2px;    
  margin: 2px;
  color:#555555;
  font-size: 18px;
}         

.sdiv {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
      
.cdiv {
  margin-left: 34px;            
}
      
.boxdiv {
  padding: 5px; 
  background-color:#F0F0F0; 
  border-style:solid;  
  border-width:1px; 
  width:50%;
}
      
.p1 {
  font-size: 22px
} 
      
.p2 {
  font-size: 20px
}     
      
.param {
  font-size: 18px;
  color:#5555AA;
} 

.evenRow {
  background-color:#F0F0F0;
}

.oddRow {
  background-color:#FFFFFF;
}
      
.lsb {
  background-color: #EEEEEE;
  border:medium none;
  color:#000000;
  cursor:pointer;
  margin:0;
  outline:0 none;
  border-style:solid;
  border-width:1px; 
  height:32px;
}      
      
a:link    {text-decoration:none; color:#000000;}
a:visited {text-decoration:none; color:#000000;}  
a:hover   {text-decoration:none; color:#555555;} 
a:active  {text-decoration:none; color:#000000;}  