#nCipher nShield, nForce - Generation 2 cards

name = Sample
library=<change>
description=ncipher sample config for JSSE

slotListIndex = <change>

disabledMechanisms = {
  CKM_MD5
  CKM_SHA_1
  CKM_AES_KEY_GEN
}

attributes(*, CKO_SECRET_KEY, *) = {
  CKA_ENCRYPT=true
  CKA_DECRYPT=true
}

attributes(*, CKO_PRIVATE_KEY, *) = {
  CKA_TOKEN=false
  CKA_SIGN=true
  CKA_SENSITIVE=false
}

attributes(GENERATE, CKO_PRIVATE_KEY, CKK_RSA) = {
  CKA_DECRYPT=true
  CKA_UNWRAP=true
  CKA_EXTRACTABLE=null
}

attributes(GENERATE, CKO_PUBLIC_KEY, *) = {
  CKA_TOKEN=false
  CKA_VERIFY=true
}

attributes(*, CKO_PUBLIC_KEY, CKK_RSA) = {
  CKA_ENCRYPT=true
  CKA_WRAP=true
  CKA_VERIFY=true
}  
attributes(IMPORT, CKO_PRIVATE_KEY, CKK_RSA) = {
  CKA_EXTRACTABLE=true
  CKA_DECRYPT=true
  CKA_UNWRAP=true
  CKA_DERIVE=true
}