<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="SSCQGF61.product.id"
         name="SSCQGF61.product.name"
         point="com.ibm.esupport.client.swProduct">
      <productData
          brand="Tivoli"
          taxonomyId="SSCQGF"
          label="%com.ibm.esupport.client.product.SSCQGF61.productLabel"
          versionFormat="V.R.M.F"/>
   </extension>
   <extension
         id="SSCQGF61.productVersion.id"
         name="SSCQGF61.productVersion.name"
         point="com.ibm.esupport.client.swProductVersion">
      <productVersionData versionId="6">
          <swEntityAssn taxonomyRefId="SSCQGF"/>
      </productVersionData>
   </extension>
   <extension
         id="SSCQGF61.productrelease.id"
         name="SSCQGF61.productrelease.name"
         point="com.ibm.esupport.client.swProductRelease">
      <productReleaseData releaseId="1">
          <swEntityAssn taxonomyRefId="SSCQGF">
             <swReleaseAssn versionRefId="6"/>
          </swEntityAssn>
          <osPlatform platformId="AIX"/>
          <osPlatform platformId="Linux"/>
          <osPlatform platformId="HP-UX"/>
          <osPlatform platformId="Solaris"/>
          <osPlatform platformId="z/OS"/>
          <osPlatform platformId="Windows"/>
      </productReleaseData>
   </extension>
   <extension
         id="SSCQGF61.search.id"
         name="SSCQGF61.search.name"
         point="com.ibm.esupport.client.search">
      <dBlueData>
      </dBlueData>
      <infoCenter
            siteURL="http://publib.boulder.ibm.com/infocenter/tivihelp/v2r1/index.jsp"
            searchPath="/search"
            serviceURL="http://publib.boulder.ibm.com/infocenter/tivihelp/v2r1"
            topicPath="/index.jsp?topic="/>
      <swEntityAssn taxonomyRefId="SSCQGF">
          <swEntityRelease
                releaseRefId="1"
                versionRefId="6"/>
      </swEntityAssn>
   </extension>
   <extension
         id="SSCQGF61.webresources.id"
         name="SSCQGF61.webresources.name"
         point="com.ibm.esupport.client.webResources">
      <webResources>
         <homePage URL="http://www.ibm.com/software/tivoli/products/directory-integrator"/>
         <supportPage URL="http://www.ibm.com/software/sysmgmt/products/support/IBMDirectoryIntegrator.html"/>
         <newsgroup URL="news://news.software.ibm.com/ibm.software.network.directory-integrator" />
         <skillsLink URL="http://publib.boulder.ibm.com/infocenter/tivihelp/v2r1/index.jsp?toc=/com.ibm.IBMDI.doc_6.1/toc.xml" label="%com.ibm.esupport.client.product.SSCQGF61.skillsLabel5"/>
         <skillsLink URL="http://publib.boulder.ibm.com/infocenter/tivihelp/v2r1/index.jsp?topic=/com.ibm.IBMDI.doc_6.1/usersguide61.htm" label="%com.ibm.esupport.client.product.SSCQGF61.skillsLabel1"/>
         <skillsLink URL="http://publib.boulder.ibm.com/infocenter/tivihelp/v2r1/index.jsp?topic=/com.ibm.IBMDI.doc_6.1/adminguide16.htm" label="%com.ibm.esupport.client.product.SSCQGF61.skillsLabel0"/>
	 <skillsLink URL="http://publib.boulder.ibm.com/infocenter/tivihelp/v2r1/index.jsp?topic=/com.ibm.IBMDI.doc_6.1/adminguide12.htm" label="%com.ibm.esupport.client.product.SSCQGF61.skillsLabel2"/>
         <skillsLink URL="http://www.ibm.com/developerworks/db2/library/techarticle/dm-0408cline/" label="%com.ibm.esupport.client.product.SSCQGF61.skillsLabel3"/>
         
         <swEntityAssn taxonomyRefId="SSCQGF">
             <swEntityRelease
                releaseRefId="1"
                versionRefId="6"/>
         </swEntityAssn>
      </webResources>
   </extension>
   <extension
         id="SSCQGF61.serviceResources.id"
         name="SSCQGF61.serviceResources.name"
         point="com.ibm.esupport.client.serviceResources">
      <collectorConfig autoPDMenuFile="autoPDMenu.xml"/>
      <serviceProviderID referenceId="IBM"/>
      <swEntityAssn taxonomyRefId="SSCQGF">
          <swEntityRelease
                releaseRefId="1"
                versionRefId="6"/>
      </swEntityAssn>
   </extension>
</plugin>
