# HTTP port (default is 8080)
/config/http/port = 8080

# Runtime mode (default is "production")
/config/runtime/mode="development"

# The value returned by the getContextPath
/config/com/ibm/di/tp/server/context/path = "/tp"

# System Properties
/config/com/ibm/di/tp/server/properties = {
	"api.server.host" : "localhost",
	"api.server.port" : "1099",
	"api.local.preffered" : "false"
}

# Define the handlers that will delegate to the appropriate JAX-RS class.
/config/handlers += [
{
	"events" : ["GET", "PUT", "POST", "DELETE"],
	"handler" : "com.ibm.di.tp.server.smashbridge.TPServerHandler.class",
	"conditions" : "/request/path =~ /tp(/.*)*"
}
]